<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moodvie</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_choices.css')}}">
  </head>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
</head>

   <body>

    <nav class="navbar">
      <a class="navbar-brand" href="/"> 
        <img class="logo" alt="home" src="{{url_for('static', filename='images/MOODVIE_logo2.png')}}"  width="155" height="20" ></a>
        <a class="navbar-brand" href="/about"><p class="about">ABOUT</p></a>  
        <a class="navbar-brand" href="/recommendations"><p class="recommendations">RECOMMENDATIONS</p></a>
        <a class="navbar-brand"><p class="tagline">MOOVIES FOR YOUR MOOD</p></a>
  </nav>

     <div class="container">
       <div class="row">
         <div class="col">
           <p class="header">YOU'RE IN THE MOOD FOR SOMETHING</p>
           <p class="choices">{{selectedMood}} - {{selectedLength}} - {{selectedType}}</p>
         </div>
       </div>
     </div>

     <!-- Landing question-->
     <div class="container.fluid">
       <div class="col">
             <h1>What type of film?</h1>
         </div>
       </div>

       <div class="container.fluid">
         <div class="col">
           <a href="/movie?mood={{selectedMood}}&length={{selectedLength}}&movie_type={{selectedType}}&genre=fiction">
             <div class="short">
               FICTION
             </div>
           </a>
         </div>
       </div>

       <div class="container.fluid">
         <div class="col">
           <a href="/movie?mood={{selectedMood}}&length={{selectedLength}}&movie_type={{selectedType}}&genre=documentary">
             <div class="short">
               DOCUMENTARY
             </div>
           </a>
         </div>
       </div>

             <!-- Footer
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="#">Made with ❤︎ by Moodv © 2020</a>
    </nav> -->

       <!-- Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

     </body>
     </html>
