  <!--Main page-->

<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moodvie</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"> 
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
  </head>

    <body>
<!-- Navivation section-->
      <nav class="links"> 
        <div> 
        <a id="home" href='/index'> 
          <img src="static/images/MOODVIE_logo.png" 
         width="220" height="30">
        </a>
     
        </div>
        <p id="Tagline">MOVIES FOR YOUR MOOD</p>
      </nav>
      
<!-- Landing question-->
      <div class="hero_text"> 
          <h1 class= "header">What are you in the mood for?</h1>
      </div>
  
<!-- Options -->
      <div class="mood_opt">

        <a href="/length?mood=fearless">
          <div class="fearless">
          Fearless
          </div>
        </a>

        <a href="/length?mood=uplifting">
          <div class="uplifting">
          Uplifting
          </div>
        </a>

        <a href="/length?mood=thought_provoking">
          <div class="thought_provoking">
          Thought Provoking 
          </div>
        </a>

        <a href="/length?mood=adventurous">
          <div class="adventurous">
          Adventurous 
          </div>
          </a>
      </div>

<!-- Footer -->
      <div class="footer">
        <p> 
         Made with ❤︎ by Code First Girls © 2020
        </p>
      </div>
    </div>  
  </body>
</html>
