<head>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"> 
    <title>Moodvie</title>
  </head>
  
  <body>
    
    <a>
    <!-- <a href="#"> -->
      <div class="fearless">
        <form action ="/length">
          <input type="submit" name="mood" value="test"/>
        </form>
        <!-- Fearless -->
      </div>
    </a>
    <a href="/length?mood=test">button</a>
    
    <a href="/length?mood=uplifting">
      <div class="uplifting">
        Uplifting
      </div>
    </a>
    
    <a href="href">
     <div class="thought_provoking">
        Thought Provoking 
      </div>
    </a>
    
     <a href="href">
     <div class="adventurous">
        Adventurous 
      </div>
    </a>
    
  </body>

  