<head>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css"> 
    <title>Moodvie</title>
  </head>
  
  <body>
    
    <a href="#">
      <div class="fearless">
        Fearless
      </div>
    </a>
    
    <a href="#">
      <div class="uplifting">
        Uplifting
      </div>
    </a>
    
    <a href="href">
     <div class="thought_provoking">
        Thought Provoking 
      </div>
    </a>
    
     <a href="href">
     <div class="adventurous">
        Adventurous 
      </div>
    </a>
    
  </body>