<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>length</title>
    <!--Bootstrap-->

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/length.css')}}"> 

  </head>
   <body>
    <h1> You're in the mood for something {{selectedMood}}</h1>
    <h1>How much time have you got?</h1>

    <a href="/type?mood={{selectedMood}}&length=short"> 
      <div class="short">
      A lunch break
      </div>
    </a>

    <a href="/type?mood={{selectedMood}}&length=feature">
      <div class="feature">
      All the time in the world
      </div>
    </a>

   </body>
</html>

