/* *{
    outline: 1px solid white;
}  */


body{ 
color: white;
background-color: #4E5DEC;
font-family: 'Cantarell', sans-serif;
background:rgb(188,217,107);
background: linear-gradient(90deg, rgb(188,217,107) 0%, rgb(29,166,197) 100%);
margin: 0;
text-align: center;
}

.navbar {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.9em;
    letter-spacing: 4px;
    padding: 10px;
}
/* 
.hero_text {
    text-align: center;
}

.tag_line {
    text-align: center;
} */

.card {
background-color: rgba(255, 255, 255, 0.575);


}

.header {
text-align: center;
font-size: 4em;
color: #4E5DEC;
font-family: 'Prata', serif;
padding-top: 20px;
padding-bottom: 0px;
}

.header2 {
    text-align: center;
    font-size: 3em;
    color: #4E5DEC;
    font-family: 'Prata', serif;
    padding-top: 20px;
    padding-bottom: 0px;
    }

.tagline {
font-size: 0.9em;
letter-spacing: 4px;
padding-bottom: 10px;
}

/*Footer*/

.footer {
    font-size: 0.5em;
    color: white;
    letter-spacing: 4px;
    

}