/* *{
    outline: 1px solid white;
}  */

body {
    color: white;
    background-color: #4E5DEC;
    font-family: 'Cantarell', sans-serif;
    background: rgb(181,219,237);
    background: linear-gradient(90deg, rgba(181,219,237,0.8281687675070029) 0%, rgba(137,78,236,0.788953081232493) 100%);
}


/* .logo {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    padding: 10px;
} */

.tagline {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.6em;
    letter-spacing: 4px;
    padding: 10px;
}


h1 {
    font-family: 'Prata', serif;
    font-size: 6em;
    text-align: center;
    padding: 200px 50px 100px 50px;
}
