body {
  background: rgb(237,181,218);
  background: linear-gradient(90deg, rgba(237,181,218,0.6) 0%, rgba(236,173,78,0.6) 100%);
  color: white;
}

.header {
  text-align: left;
  font-family: 'Cantarell', sans-serif;
  letter-spacing: 2px;
  padding-top: 80px;
}

.choices {
  text-align: left;
  font-family: 'Cantarell', sans-serif;
  color: #4E5DEC;
  letter-spacing: 2px;
}

.movie {
  text-align: left;
  font-size: 4em;
  color: #4E5DEC;
  font-family: 'Prata', serif;
  padding-top: 80px;
}

.details {
  text-align: left;
  font-size: 1.5em;
  color: #4E5DEC;
  font-family: 'Cantarell', sans-serif;
  /* padding-top: 40px; */
}

.synopsis {
  text-align: left;
  color: #4E5DEC;
  font-family: 'Cantarell', sans-serif;
  padding-top: 40px;
}

.watch_now {
  padding-top: 40px;
  font-family: 'Cantarell', sans-serif;
}

.button {
  background-color: #4E5DEC;
  color: white;
  border: 2px solid #4E5DEC;
  padding: 10px;
}

.button:hover {
  background-color: white;
  color: #4E5DEC;
}
