/* *{
    outline: 1px solid white;
}  */

body {
    color: white;
    background: rgb(237,181,218);
    background: linear-gradient(90deg, rgba(237,181,218,1) 0%, rgba(236,173,78,1) 100%);
  }
/* 

  .moodvie_logo {
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    font-size: 1em;
    letter-spacing: 4px;
    padding: 10px;
} */


.navbar {
  font-family: 'Cantarell', sans-serif;
  font-size: 0.9em;
  letter-spacing: 4px;
  padding: 10px;
}

/* .recommendations {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.9em;
    letter-spacing: 4px;
    padding: 10px;
} */
  
  .header {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2px;
    padding-top: 60px;
  }
  
  .choices {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    color: #4E5DEC;
    letter-spacing: 2px;
  }
  
  h1 {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 6em;
    padding: 50px 30px;
  }
  
  .short {
    font-size: 3em;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2px;
    padding: 50px 50px;
  }

  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #4E5DEC;
  }

  a:active {
    color: #4E5DEC;
  }