body{ 
color: white;
background-color: #4E5DEC;
font-family: 'Cantarell', sans-serif;
background:rgb(188,217,107);
background: linear-gradient(90deg, rgb(188,217,107) 0%, rgb(29,166,197) 100%);
}

.navbar {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.7em;
    letter-spacing: 4px;
    padding: 10px;
}

.card {
background-color: rgba(255, 255, 255, 0.575);

}


