body {
    color: white;
<<<<<<< Updated upstream
    background: rgb(237,181,218);
    background: linear-gradient(90deg, rgba(237,181,218,1) 0%, rgba(236,173,78,1) 100%);
  }

  .navbar {
    font-family: 'Cantarell', sans-serif;
    font-size: 0.7em;
    letter-spacing: 4px;
    padding: 10px;
  }
=======
    font-family: 'Cantarell', sans-serif;
    margin: 0;
    padding: 0;
  }

.navbar {
  font-family: 'Cantarell', sans-serif;
  font-size: 0.9em;
  letter-spacing: 4px;
  padding: 10px;
}

>>>>>>> Stashed changes
  
  .header {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2px;
<<<<<<< Updated upstream
    padding-top: 80px;
=======
    padding-top: 20px;
>>>>>>> Stashed changes
  }
  
  .choices {
    text-align: center;
<<<<<<< Updated upstream
    font-family: 'Cantarell', sans-serif;
=======
>>>>>>> Stashed changes
    color: #4E5DEC;
    letter-spacing: 2px;
  }
  
  h1 {
    text-align: center;
    font-family: 'Prata', serif;
<<<<<<< Updated upstream
    font-size: 6em;
    padding: 100px 30px;
=======
    font-size: 4.5em;
    padding: 50px 30px;
>>>>>>> Stashed changes
  }
  
  .short {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2px;
    padding: 50px 50px;
  }
  
  a:link {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #4E5DEC;
<<<<<<< Updated upstream
  }
=======
  }

  a:active {
    color: #4E5DEC;
  }


/* Footer*/

.footer {
  font-size: 0.5em;
  color: white;
  letter-spacing: 4px;
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) { 
  
  /*Landing Question*/
  .header {
    padding-top: 60px;
  }
  
  h1 {
    font-size: 6em;
  }
  
  .short {
    font-size: 3em;
  }

}
>>>>>>> Stashed changes
