 /* *{
    outline: 1px solid white;
}  */

body {
    color: white;
    background-color: #4E5DEC;
    font-family: 'Cantarell', sans-serif;
}

.logo {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
}

.tagline {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.5em;
}

.landing {
    position: relative;
    top: 8%;
    left: 8%;
    display: flex;
    flex-flow: column wrap;
    /* font-style: ; */
    width: 1440px;
    height: 1400px;
    background-color: rgba(78, 93, 236, 1);
}

/* Header */
.links {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.links a img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.links p {
    font-size: smaller;
    letter-spacing: 0.8em
}
  
.links a:hover img {
    opacity: .3;
}

/* Question */
.hero_text {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    padding: 100px
}
  
.hero_text h1 {
    font-family: 'Prata', serif;
    font-size: 60px;
    font-weight: lighter;
    width:500px;
    word-wrap: break-word;
}

/* Options */
.mood_opt {
    position: relative;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fearless {
    font-size: 2em;
    color: white;
    padding: 50px 50px 50px 200px;
    display: block;
    width: 1630px;
}

.uplifting {
    font-size: 2em;
    color: white;
    padding: 50px 50px 50px 200px;
    width: 1630px;
}

.thought_provoking {
    font-size: 2em;
    color: white;
    padding: 50px 50px 50px 200px;
    display: block;
    width: 1630px;
}

.adventurous {
    font-size: 2em;
    color: white;
    padding: 50px 50px 50px 200px;
    display: block;
    width: 1630px;
}


a:link {
    text-decoration: none;
    display: block;
}

a:hover > .fearless { 
    background: rgb(217,107,107);
    background: linear-gradient(90deg, rgba(217,107,107,1) 0%, rgba(29,180,197,1) 100%);
}

a:hover > .uplifting { 
    background: rgb(236,173,78);
    background: linear-gradient(90deg,  rgba(236,173,78,1) 0%, rgba(237,181,218,1) 100%);
}

a:hover > .thought_provoking { 
    background: rgb(188,217,107);
    background: linear-gradient(90deg,    rgba(188,217,107,1) 0%, rgba(29,166,197,1) 100%);
}

a:hover > .adventurous { 
    background: rgb(107,206,217);
    background: linear-gradient(90deg,    rgba(107,206,217,1) 0%, rgba(197,29,189,1) 100%);
}

/* Footer */
.footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.footer p{
    background-color:#4E5DEC;
    color:  white;
    font-size: smaller;
    display: flex;
    flex-flow: row-reverse;
    padding: 20px;
    letter-spacing: 0.5em;
    width: 3000px;
}